<div class="row">
  <div class="col-md-3 ml-auto">
    
       {{#if message}}
          <div class="alert alert-success" id="message">
             <h3>{{message}}</h3>
          </div>
       
       {{/if}}

       {{#if error}}
          <div class="alert alert-danger" id="message">
             <h3>{{error}}</h3>
          </div>
       
       {{/if}}
  </div>
</div>

